/megumi/HELP.md
/megumi/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
/megumi/.idea
/megumi/*.iws
/megumi/*.iml
/megumi/*.ipr


### qq.properties ##
/megumi/src/main/resources/qq.properties
### redis.properties ##
/megumi/src/main/resources/redis.properties
### mysql.properties ##
/megumi/src/main/resources/mysql.properties
### other.properties ##
/megumi/src/main/resources/other.properties
/megumi/static/nullable/**
/megumi/static/emoji/**
!/megumi/static/emoji/neuro/**
