<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erisu.cloud.megumi.battle.mapper.BattleUserMapper">
    <insert id="insertIgnore" parameterType="com.erisu.cloud.megumi.battle.pojo.BattleUser">
        insert ignore into battle_user(qq_id, nickname, group_id, damage_times)
        VALUES (#{battleUser.qqId}, #{battleUser.nickname}, #{battleUser.groupId}, #{battleUser.damageTimes})
    </insert>
    <insert id="insertAllIgnore" parameterType="com.erisu.cloud.megumi.battle.pojo.BattleUser">
        insert ignore into battle_user(qq_id, nickname, group_id, damage_times)values
        <foreach collection="battleUsers" item="item" separator=",">
            (
            #{item.qqId},
            #{item.nickname},
            #{item.groupId},
            #{item.damageTimes}
            )
        </foreach>

    </insert>
    <update id="revertDamageTimes">
        update battle_user
        set damage_times=damage_times + #{lost}
        where qq_id = #{senderId}
          and group_id = #{groupId};
    </update>
</mapper>