<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erisu.cloud.megumi.battle.mapper.NowBossMapper">
    <insert id="insertStageBoss">
        insert into now_boss(boss_id, boss_name, group_id, hp_now, boss_order, boss_rounds, now_stage) values
        <foreach collection="bosses" item="item" separator=",">
            (
            #{item.id},
            #{item.name},##bossName
            #{groupId},
            #{item.hpMax},
            #{item.bossOrder},
            #{bossRounds},
            #{nowStage}
            )
        </foreach>
    </insert>
    <select id="selectByMinBossOrder" resultType="com.erisu.cloud.megumi.battle.pojo.NowBoss">
        select b.*
        from now_boss b
        where b.group_id = #{groupId}
          and b.hp_now != 0
        order by b.boss_rounds desc, b.boss_order
        limit 1
    </select>
    <select id="selectNowBoss" resultType="com.erisu.cloud.megumi.battle.pojo.NowBoss">
        select a.*
        from now_boss a
        where a.group_id = #{groupId}
        order by a.boss_rounds desc, a.boss_order
        limit 5;
    </select>
    <select id="selectNowBossWithOrder" resultType="com.erisu.cloud.megumi.battle.pojo.NowBoss">
        select a.*
        from now_boss a
        where a.group_id = #{groupId}
        <if test="bossOrder!=null">
            and a.boss_order=#{bossOrder}
        </if>
        order by a.boss_rounds desc, a.boss_order
        limit 1;
    </select>
    <update id="revertDamage">
        update now_boss
        set hp_now=hp_now + #{damage}
        where now_id = #{nowBossId};
    </update>
</mapper>